* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.code {
  color: pink;
  font-family: monospace;
}

@font-face {
  font-family: "Harry Potter";
  src: url("/fonts/harry.ttf");
  format: ("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Sponge Bob";
  src: url("/fonts/spongeBob.otf");
  format: ("otf");
  font-display: swap;
}

@font-face {
  font-family: "Disney";
  src: url("/fonts/disney.ttf");
  format: ("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Cheerio";
  src: url("/fonts/cereal.ttf");
  format: ("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Green Day";
  src: url("/fonts/greenday.ttf");
  format: ("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Hollywood";
  src: url("/fonts/hollywood.ttf");
  format: ("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Old Standard TT";
  src: url("/fonts/oldStandardTT.ttf");
  format: ("ttf");
  font-display: swap;
}
